.container {
    width: 300px;
    height: 820px;
    -webkit-box-shadow: 2px -5px 10px -8px rgba(0,0,0,0.55); 
box-shadow: 2px -5px 10px -8px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-Top: -500px;
    margin-bottom: 50px;
    position: absolute;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.image {
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
.image2 {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    border-radius: 50%;
}

.country {
    margin-left: 10px;
}

.containerGlobal{
    display: flex;
    flex-direction: row;   
}

.container4 {
    padding: 30px;
}

.container5 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-top: 60px;
}
.box {
    width: 260px;
    height: 180px;
    -webkit-box-shadow: -1px -1px 22px -4px #000000; 
box-shadow: -1px -1px 22px -4px #000000;
    margin-inline: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.date {
    background-color: blue;
    padding: 6px;
    border-radius: 5px;
}

.boxDiv1 {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
}

.label1 {
    margin-left: 8px;
    color: white;
}
.labeldiv2 {
    background-color: orange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
}
.labeldiv1 {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
}
.labeldiv3 {
    background-color: green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
}